<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@2.2.4/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Netland!</title>
  </head>

  <body class="bg-gray-900 h-screen w-screen">

    <h1 class="text-white flex justify-center text-3xl pt-7 font-bold">
      Welkom op het netland beheerders paneel
    </h1>

    <!-- 2 tables -->
    <h1 class="font-bold text-white text-xl flex justify-center mt-10 h-5">
      Series
    </h1>
    <div class="flex justify-center mt-3">
      <!-- Series -->
      <div class="flex justify-center" style="height: 350px">
        <!-- Table Series -->
        <div class="col-span-12 h-screen">
          <div class="overflow-auto lg:overflow-visible">
            <table
              class="table text-gray-400 border-separate space-y-6 text-sm"
            >
              <thead class="bg-gray-800 text-gray-500">
                <tr>
                  <th class="p-3 w-48">Title</th>
                  <th class="p-3 text-left w-20 pl-5">Rating</th>
                  <th class="p-3 text-left">Details</th>
                  <th class="p-3 text-left">Update</th>
                  <th class="p-3 text-left">Delete</th>
                </tr>
              </thead>

              {% for serie in series %}
              <tbody>
                <tr class="bg-gray-800">
                  <td class="p-3">
                    <div class="flex align-items-center">
                      <div class="ml-3">
                        <div class="font-bold">{{ serie.title }}</div>
                      </div>
                    </div>
                  </td>
                  <td class="p-3 pl-8 font-bold">{{ serie.rating }}</td>
                  <td class="text-white pl-2 pr-2">
                    <a href="{% url 'detailserie' serie.id %}"
                      >Bekijk Details</a
                    >
                  </td>

                  <td class="text-white pl-2">
                    <a href="{% url 'updateserie' serie.id %}">Update</a>
                  </td>

                  <form action="{% url "deleteserie" serie.id %}" method="post" >
                   {% csrf_token %}
                  <td class="text-white pl-2">
                    <button>Delete</button>
                  </td>
                </form>
                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>

    <h1 class="font-bold text-white text-xl flex justify-center mt-10 h-5">
      Movies
    </h1>
    <div class="flex justify-center mt-3">
      <!-- Movies -->
      <div class="flex justify-center" style="height: 350px">
        <!-- Table Movies-->
        <div class="col-span-12 h-screen">
          <div class="overflow-auto lg:overflow-visible">
            <table
              class="table text-gray-400 border-separate space-y-6 text-sm"
            >
              <thead class="bg-gray-800 text-gray-500">
                <tr>
                  <th class="p-3 w-48">Title</th>
                  <th class="p-3 text-left w-20 pl-5">Duur</th>
                  <th class="p-3 text-left">Details</th>
                  <th class="p-3 text-left">Update</th>
                  <th class="p-3 text-left">Delete</th>
                </tr>
              </thead>

              {% for movie in movies %}
              <tbody>
                <tr class="bg-gray-800">
                  <td class="p-3">
                    <div class="flex align-items-center">
                      <div class="ml-3">
                        <div class="font-bold">{{ movie.title }}</div>
                      </div>
                    </div>
                  </td>
                  <td class="p-3 pl-8 font-bold">
                    {{ movie.length_in_minutes }}
                  </td>
                  <td class="text-white text-center pl-2 pr-2">
                    <a href="{% url 'detailmovie' movie.id %}"
                      >Bekijk Details</a>
                  </td>

                  <td class="text-white text-center">
                    <a href="{% url 'updatemovie' movie.id %}">Update</a>
                  </td>

                  
                  <form action="{% url "deletemovie" movie.id %}" method="post" >
                    {% csrf_token %}
                   <td class="text-white pl-2">
                     <button>Delete</button>
                   </td>
                 </form>
                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
